@import '../../../style/variables'

.additionally
  display: flex
  justify-content: space-between
  align-items: center
.upgrade__Btn
  display: block
  width: 147px
  height: 38px
  border: 1px solid $mainColor
  background: #fff
  font-size: $mainFontSize
  font-weight: 700
  color: $mainColor
  &:hover
    background-color: rgba(75, 53, 239, 0.1)
.search__btn
  margin-left: 38px
  margin-right: 38px
