@import '../../style/variables'

.main__descr__container
  max-width: $maxDisplayWidth
  margin: 0 auto
  .main__header
    margin-bottom: 24px
    font-size: 48px
    color: #292929
  .main__descr
    padding-bottom: 20px
    font-size: 18px
    line-height: 1.6
    color: #484848
    border-bottom: 1px solid #e9eaea