@import '../../style/variables'

.course__title
  display: flex
  justify-content: space-between
  align-items: center
  max-width: $maxDisplayWidth
  margin: 0 auto
  text-transform: uppercase
  h3
    font-size: 24px
    font-weight: 700
    color: #292929
  a
    color: $mainColor
.course__descr_all
  max-width: $maxDisplayWidth
  margin: 0 auto 30px auto
  font-size: $mainFontSize
  color: #484848
.career__box
  padding-bottom: 50px
  border-bottom: 1px solid #e9eaea
.career__box__item
  display: flex
  flex-direction: row
  align-items: center
  max-width: 1440px
  margin: 26px auto
  height: 226px
  box-shadow: 0 0 6px 0 #c0c0c0
  cursor: pointer
  transition: all .5s
  &:hover
    box-shadow: 0 7px 21px 0 #c0c0c0
  .career__box__img
    width: 400px
    height: 226px
    display: flex
    justify-content: center
    align-items: center
    margin-right: 16px
    img
      max-width: 75%
      max-height: 75%
  .career__box__descr
    width: 100%
    padding: 16px
    .career__box__descr_more
      font-size: $mainFontSize
      color: $fontColor
    .knowledges
      display: flex
      flex-direction: row
      justify-content: space-around
      width: 50%
      margin-top: 20px
      color: $fontColor
      .knowItem
        display: flex
        align-items: center

