@import '../../style/variables'


.careerPathTitle
  display: flex
  justify-content: space-between
  margin-left: $indent
  margin-right: $indent
  padding-bottom: 20px
  text-transform: uppercase
  h3
    font-size: 24px
    font-weight: 700
    color: #292929
  path
    fill: $mainColor
.careerMainDescr
  margin-left: $indent
  font-size: $mainFontSize
  color: #484848
.careerBox
  padding-bottom: 50px
  border-bottom: 1px solid #e9eaea
.courseBox
  display: flex
  flex-direction: row
  align-items: center
  margin: 50px $indent
  height: 226px
  box-shadow: 0px 0px 6px 0px #c0c0c0
  cursor: pointer
  transition: all .5s
  &:hover
    box-shadow: 0px 7px 21px 0px #c0c0c0
  .courseImg
    width: 400px
    height: 226px
    display: flex
    justify-content: center
    align-items: center
    margin-right: 16px
    img
      max-width: 75%
      max-height: 75%
  .careerCourseDescr
    width: 100%
    padding: 16px
    .careerDescr
      font-size: $mainFontSize
      color: $fontColor
    .knowledges
      display: flex
      flex-direction: row
      justify-content: space-around
      width: 50%
      margin-top: 20px
      color: $fontColor
      .knowItem
        display: flex
        align-items: center

