@import '../../style/variables'

.skill__box
  display: grid
  grid-template-columns: unquote("repeat(4, [col] 1fr )")
  grid-column-gap: 2.5%
  max-width: $maxDisplayWidth
  margin: 0 auto
  .skill__box__item
    display: flex
    flex-direction: column
    flex-basis: 23%
    width: 333px
    margin-top: 16px
    margin-bottom: 16px
    box-shadow: 0 0 6px 0 #c0c0c0
    cursor: pointer
    transition: all .4s
    &:hover
      box-shadow: 0 7px 21px 0 #c0c0c0
    .skill__box__img
      display: flex
      justify-content: center
      align-items: center
      min-height: 208px
    .skill__box__descr
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 0 16px
      height: 50%
      .descr__text
        position: relative
        overflow: hidden
        height: 49px
        margin-bottom: 20px
        &::after
          position: absolute
          content: ""
          text-align: right
          bottom: 0
          right: 0
          width: 35%
          height: 1.5rem
          background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 75%)
      h2
        padding-top: 35px
        font-size: 20px
        margin-bottom: 10px
      .skill__box__descr_more, .period
        color: #5A5B5E
      .period
        display: flex
        align-items: center
        padding-bottom: 16px
        font-size: 13px
        &__img
          width: 16px
          height: 16px
        &__text
          margin-left: 5px


