@import '../../style/variables'

.skill__box
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  max-width: $maxDisplayWidth
  margin: 0 auto
  .skill__box__item
    display: flex
    flex-direction: column
    flex-basis: 23%
    width: 317px
    margin-top: 16px
    margin-bottom: 16px
    box-shadow: 0 0 6px 0 #c0c0c0
    cursor: pointer
    transition: all .5s
    .skill__box__img
      display: flex
      justify-content: center
      align-items: center
      height: 208px
    .skill__box__descr
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 0 16px
      height: 50%
      h2
        font-weight: 20px
        margin-bottom: 10px
      .skill__box__descr_more, .period
        color: #5A5B5E
      .period
        display: flex
        align-items: center
        padding-bottom: 16px
        font-size: 13px

