@import '../../style/variables'

.filter
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: flex-start
  padding: 24px $indent
  border-bottom: 1px solid #e9eaea
  .filterTitle
    text-transform: uppercase
    font-size: $mainFontSize
    font-weight: 700
    color: $fontColor
  .themeCol, .langCol
    display: flex
    flex-direction: column
    flex-basis: 50%
  .themeLink, .languageLink
    display: flex
    flex-direction: column
    margin: 0
    padding: 0
    height: 150px
    flex-wrap: wrap
    li
      padding-top: 10px
      list-style-type: none
      a
        font-size: $mainFontSize
        font-weight: 400
        line-height: 1.5
