@import '../../style/variables'

.filter
  border-bottom: 1px solid #e9eaea
  .filter_content
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    margin: 0 auto
    max-width: $maxDisplayWidth
    .filter_title
      text-transform: uppercase
      font-size: $mainFontSize
      font-weight: 700
      color: $fontColor
    .theme_col, .language_col
      display: flex
      flex-direction: column
      flex-basis: 50%
    .theme_link, .language_link
      display: flex
      flex-direction: column
      margin: 0
      padding: 0
      height: 150px
      flex-wrap: wrap
      li
        padding-top: 7px
        a
          font-size: $mainFontSize
          font-weight: 400
          line-height: 1.5
          color: #3E3E40
          &.active
            font-weight: 700
