@import '../../../../style/variables'

.logIn__btn
  margin-left: 12px
  padding: 10px 6px
  font-weight: $mainFontWeight
  color: $mediumTitleColor
  font-family: 'Nunito Sans', sans-serif
  @media screen and (max-width: 375px)
    margin-left: 7px
    font-size: $miniFontSize
  @media screen and (max-width: 440px)
    padding: 0
.signUp__btn
  margin-left: 38px
  width: 96px
  height: 38px
  border: none
  background-color: $mainColor
  font-size: $mainFontSize
  font-weight: $mainFontWeight
  color: #fff
  font-family: 'Nunito Sans', sans-serif

  @media screen and (max-width: 960px)
    background-color: #fff
    color: $mediumTitleColor
    &__menu
      margin-top: 20px
      margin-left: 0
      width: 100%
      background-color: $mainColor
      font-size: $mainFontSize
      font-weight: $mainFontWeight
      color: #fff
  @media screen and (max-width: 735px)
    width: 70px
    margin-left: 0
    font-size: $miniFontSize
    &__menu
      width: 100%

.auth__box
  display: flex
  align-items: center
  vertical-align: center
  @media screen and (max-width: 440px)
    flex-direction: column
  @media screen and (max-width: 400px)
    flex-direction: row
    margin-top: 5px
  .user__login__box
    display: inline-block
    margin-left: 20px
    text-align: center
    .user__login
      width: 60px
      height: 60px
      @media screen and (max-width: 500px)
        width: 40px
        height: 40px
    .user__login__name
      display: inline-block
      margin-left: 15px
      @media screen and (max-width: 960px)
        margin-right: 15px
      @media screen and (max-width: 500px)
        display: block

