@import '../../../style/variables'

.logIn__btn
  padding: 10px 6px

.signUp__btn
  margin-left: 38px
  width: 96px
  height: 38px
  border: none
  background-color: $mainColor
  font-size: $mainFontSize
  font-weight: 700
  color: #fff
