@import '../../../style/variables'

.logIn__btn
  margin-left: 12px
  padding: 10px 6px
  font-weight: 700
  color: #323233
  font-family: 'Nunito Sans', sans-serif
  @media screen and (max-width: 375px)
    margin-left: 7px
    font-size: 14px
.signUp__btn
  margin-left: 38px
  width: 96px
  height: 38px
  border: none
  background-color: $mainColor
  font-size: $mainFontSize
  font-weight: 700
  color: #fff
  font-family: 'Nunito Sans', sans-serif
  @media screen and (max-width: 960px)
    background-color: #fff
    color: #323233
  @media screen and (max-width: 735px)
    width: 70px
    margin-left: 0
    font-size: 14px

