@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap')
@import 'variables'

body
  font-family: 'Nunito Sans'

a
  text-decoration: none
  color: #000

li
  a
    &:hover
      color: $hoverMainColor