@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap')
@import 'variables'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: 'Nunito Sans'

a
  text-decoration: none
  color: #000

li
  a
    &:hover
      color: $hoverMainColor