@import 'variables'

nav
  position: fixed
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 10px $indent

  background-color: #fff
  box-shadow: 1px -5px 16px -4px #000000
  .navLinks
    display: flex
    justify-content: space-between
    align-items: center
  .usersActions
    display: flex
    justify-content: space-between

.filterSection
  padding-top: 74px