@import 'variables'

nav
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px $indent
  box-shadow: 1px -5px 16px -4px #000000
  .navLinks
    display: flex
    justify-content: space-between
    align-items: center
  .usersActions
    display: flex
    justify-content: space-between

