$mainColor: #6400e4
$hoverMainColor: #4b35ef
$fontColor: #525252
$footerColor: #3E3E40

$mainFontSize: 16px

$maxDisplayWidth: 1440px
$mediumDisplayWidth: 80%
$middleDisplayWidth: 90%
$miniDisplayWidth: 100%


$careerBoxMediumWidth: 528px