@import '../../style/variables.sass'

.burger__menu
  position: fixed
  width: 100%
  height: 100%
  padding-top: 17px
  //padding-left: 25px
  //padding-right: 25px
  background-color: #fff
  z-index: 1000
  @media screen and (max-width: 1560px)
    display: none
  @media screen and (max-width: 960px)
    display: flex
  .burger__menu__content
    display: flex
    flex-direction: column
    margin: 0 auto
    width: 90%
    .close__icon
      align-self: flex-end
      width: 28px
      height: 28px
      &:active
        border: 2px solid $iconColor
        border-radius: 5px
    input
      width: 100%
      margin: 20px auto
      padding: 12px 40px 12px 12px
      height: 50px
      font-size: $mainFontSize
      border: 1px solid $placeholderColor
      outline: none
      &::placeholder
        color: $burgerMenuPlaseholderColor
    .menu__search__icon
      align-self: flex-end
      margin-right: 15px
      margin-top: -55px
    .burger__menu__link
      display: block
      padding: 16px 0
      font-size: $burgerMenuFontSize
      color: $mediumTitleColor
    ul
      margin-top: 10px





