.main
  padding: 40px 10%

  .mainHeader
    margin-bottom: 24px
    font-size: 48px
    color: #292929
  .mainDescr
    padding-bottom: 20px
    font-size: 18px
    line-height: 1.6
    color: #484848
    border-bottom: 1px solid #e9eaea