@import '../../style/variables'

.clock__icon
  svg
    width: 16px
    height: 16px
.logo__icon
  svg
    width: 128.5px
    height: 27.5px
.search__icon_small
  svg
    width: 24px
    height: 24px
    color: $iconColor
.search__icon_big
  svg
    width: 47px
    height: 47px
    color: $iconColor
.done__icon
  svg
    margin-right: 5px
.search__icon__menu
  svg
    width: 24px
    height: 24px
    color: #000
.editIcon
  svg
    width: 24px
    height: 24px
    margin-bottom: 15px
    cursor: pointer
.delIcon
  svg
    width: 24px
    height: 24px
    cursor: pointer
.importance__icon
  svg
    width: 66px
    height: 33px
    background-color: #ffd548
.proIcon
  svg
    color: $mainColor
.sort__arrow
  svg
    width: 16px
    height: 16px
    margin-left: 15px
